@page
@model WebApplication2.Pages.IndexModel
@{
    ViewData["Title"] = "Home page";
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <!-- Bootstrap core CSS -->
    <link href="~/css/bootstrap.css" rel="stylesheet">
    <!-- Custom styles for this template -->
    <link href="~/css/scrolling-nav.css" rel="stylesheet">
    <link href="~/css/Site.css" rel="stylesheet" />

</head>
<body id="page-top">
    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top" id="mainNav">
        <div class="container">
            <a class="navbar-brand js-scroll-trigger" href="#page-top">Olympic Remodelers</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a class="nav-link js-scroll-trigger" href="#about">About</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link js-scroll-trigger" href="#services">Services</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link js-scroll-trigger" href="#contact">Contact</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <header class="bg-primary text-white">
        <div class="container text-center">
            <h1>Josh Percival Construction</h1>
            <p class="lead">Buisness inquiries made easy</p>
        </div>
    </header>
    <section id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 mx-auto">
                    <h2>A Little about me</h2>
                    <p class="lead">Hello my name is Josh Percival and i am...</p>
                    <ul>
                        <li>Independent contractor</li>
                        <li>An Interior remodeler with a keen decorative eye</li>
                        <li>An Exterior remodeler</li>
                        <li>Tradesman of many skills</li>
                        <li>Flexible</li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
    <section id="services" class="bg-light">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 mx-auto">
                    <h2>Services we offer</h2>
                    <p class="lead">Sustainable residential remodel from your foundation to your roof with honesty and integrity. Drywall, paint, carpentry, tile, elctrical and flooring.  Large or small we can do it all. Please contact me!  </p>
                </div>
            </div>
        </div>
    </section>
    <section id="contact">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 mx-auto">
                    <h2>Contact us</h2>
                    <div class="col-md-4">
                        <form method="post" enctype="multipart/form-data">
                            <div asp-validation-summary="All" class="Text-danger"></div>
                            <div class="Form-group">
                                <label asp-for="Email" class="control-label"></label>
                                <input asp-for="Email" class="form-control" />
                                <span asp-validation-for="Email" ></span>
                            </div>
                            <div class="Form-group">

                                <label asp-for="FirstName"></label>
                                <input asp-for="FirstName" class="form-control"/>
                                <span asp-validation-for="FirstName" ></span>
                            </div>
                            <div class="Form-group">
                                <label asp-for="LastName"></label>
                                <input asp-for="LastName" class="form-control"/>
                                <span asp-validation-for="LastName" ></span>
                            </div>
                            <div class="Form-group">
                                <label asp-for="Message"></label>
                                <textarea asp-for="Message" class="form-control"></textarea>
                                <span asp-validation-for="Message" ></span>
                            </div>
                            <button type="submit" class="btn btn-primary">Send Email</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Footer -->
    <footer class="py-5 bg-dark">
        <div class="container">
            <p class="m-0 text-center text-white">Copyright &copy; Your Website 2019</p>
        </div>
    </footer>

    <!-- Bootstrap core JavaScript -->
    <script src="~/Scripts/jquery-3.3.1.js"></script>
    <script src="~/Scripts/jquery-3.3.1.js"></script>

    <script src="~/Scripts/scrolling-nav.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>

    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</body>
</html>

